@import './_variables.scss';

.board-container {
    position:relative;
    margin: auto;
    width: $board-width;
}

.board {
    display: block;
    margin: auto;
    width: $board-width;
    border: 0px;
}

