<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        Bankroll
      </div>

      <div class="card-body">


        <div class="row">
          <div class=col-2>
            <p>Current balance: </p>
          </div>
          <div class=col>
            <p>{{balance?.amount | centbit}} {{balance?.network | uppercase }} </p>
          </div>
        </div>

        <div class="row">
          <div class=col-2>
            <p>Treshold: </p>
          </div>
          <div class=col>
            <p>{{gameAccount?.treshold | centbit}}</p>
          </div>
        </div>

        <div class="row">
          <div class=col-2>
            <p>Address: </p>
          </div>
          <div class=col>
            <p><a href='http://wavesexplorer.com/address/{{gameAccount?.depositAddress}}' target="_blank">{{gameAccount?.depositAddress}}</a></p>
          </div>
        </div>

        <div class="row">
          <br/>
        </div>

        <div class="row" *ngIf="gameAccount">
          <div class="col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Withdraws</h6>
          </div>

          <div class="col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Deposits</h6>
          </div>
        </div>




      </div>





    </div>
  </div>
</div>