
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="panel">
        <div class="panel-heading">
            
            <h3 class="panel-title"><backbutton></backbutton> Support</h3>
        </div>
        <div class="panel-body">
            <div>
                <p>    
                    content
                </p>
            </div>
        </div>
    </div>
</div>
    
@section Scripts {
    <script type="text/javascript" src="/js/panel.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/panel.common.css">
}
    