.coinspot {
    width: 33px;
    margin-right: 15px;
}

.navbar {
    background-color: #1f65a1;
    background: #1f65a1;
    border-color: #1f65a1;
 }

 .balance {
    margin-right : -10px;
}

.balance .amount {
    color: #ffcf40;
}

.nav-item {
    padding-right: 5px;
}

.navbar .divider-vertical {
    height: 30px;
    vertical-align: -webkit-baseline-middle;
    width:1px;
    border-right: 1px solid #1a5783;
    margin-top:5px;
    margin-bottom:5px;
}

     

 // 000000 text
 // 8fc2ff light

 // primary: 5b92d3

 //------
 // secondary primary : ccdb29
 // 97aa00 dark
 // ffff62 light
