table { cursor: pointer; }

table thead th {
    text-align: right;
    min-width: 80px;
}

table tr td {
    text-align: right;
    min-width: 80px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }