$navbar-dark-disabled-color:  #ffffff;
$navbar-dark-hover-color: #ffcf40;
$navbar-dark-color:lightgray;

$card-cap-bg:#5682AD;
$card-border-width: 0;




$board-width: 900px;
$adjust-position: 0.05;
$board-start-point: $board-width * $adjust-position;

$field-start-top : 120px;
$field-start-left : 140px; // 200px;
$multipierHeight : 20px;
$fieldMargin: 10px;


 