<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        Change password
      </div>

      <div class="card-body">

        <div class="row">
          <div class="col">
            <form novalidate name="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="submit(changePasswordForm.value)"
              class="form">
              <fieldset>

                <div class="form-group">
                  <div *ngIf="changingPasswordFailed" class="alert alert-danger" role="alert">
                    Failed to change password.
                  </div>
                </div>


                <div class="form-group" [ngClass]="{'has-error': (changePasswordForm.controls['newPassword'].touched || changePasswordForm.controls['newPassword'].dirty) && !changePasswordForm.controls['newPassword'].valid }">
                    <label for="newPassword">New Password</label>
                    <input class="form-control form-control-sm" type="password" name="newPassword" [formControl]="changePasswordForm.controls['newPassword']"
                    />
                    <span class="help-block" *ngIf="(changePasswordForm.controls['newPassword'].touched || changePasswordForm.controls['newPassword'].dirty ) &&  !changePasswordForm.controls['newPassword'].valid">
                      <span *ngIf="changePasswordForm.controls['newPassword'].hasError('required')" class="invalid">
                        New password is required.
                      </span>

                      <span *ngIf="changePasswordForm.controls['newPassword'].hasError('pattern')" class="invalid">
                        New password should be at least 8 characters long. It should contain at least one capital letter and one number. No special characters are allowed.
                      </span>


                    </span>
                  </div>

                <div class="form-group" [ngClass]="{'has-error': (changePasswordForm.controls['newPasswordConfirmation'].touched || changePasswordForm.controls['newPasswordConfirmation'].dirty) && !changePasswordForm.controls['newPasswordConfirmation'].valid }">
                  <label for="newPasswordConfirmation">New password confirmation</label>
                  <input class="form-control form-control-sm" type="password" name="newPasswordConfirmation" [formControl]="changePasswordForm.controls['newPasswordConfirmation']" />
                  <span class="help-block" *ngIf="(changePasswordForm.controls['newPasswordConfirmation'].touched || changePasswordForm.controls['newPasswordConfirmation'].dirty ) &&  !changePasswordForm.controls['newPasswordConfirmation'].valid">
                    <span *ngIf="changePasswordForm.controls['newPasswordConfirmation'].hasError('required')" class="invalid">
                      Password confirmation is required.
                    </span>

                    <span *ngIf="changePasswordForm.controls['newPasswordConfirmation'].hasError('matchPassword')" class="invalid">
                      Password confirmation does not match.
                    </span>

                  </span>
                </div>

                <div class="form-group" [ngClass]="{'has-error': (changePasswordForm.controls['oldPassword'].touched || changePasswordForm.controls['oldPassword'].dirty) && !changePasswordForm.controls['oldPassword'].valid }">
                  <label for="oldPassword">Old Password</label>
                  <input name="oldPassword" type="password" class="form-control form-control-sm" [formControl]="changePasswordForm.controls['oldPassword']"
                  />
                  <span class="help-block" *ngIf="(changePasswordForm.controls['oldPassword'].touched || changePasswordForm.controls['oldPassword'].dirty ) &&  !changePasswordForm.controls['oldPassword'].valid">
                    <span *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')" class="invalid">
                      Password is required.
                    </span>
                  </span>
                </div>

                <div class="form-group" [ngClass]="{'has-error': (changePasswordForm.controls['twoFactorAuthCode'].touched || changePasswordForm.controls['twoFactorAuthCode'].dirty) && !changePasswordForm.controls['twoFactorAuthCode'].valid }">
                  <label for="twoFactorAuthCode">2FA Code
                    <span class="text-muted">(fill this field if you have setup 2FA)</span>
                  </label>
                  <input name="twoFactorAuthCode" type="twoFactorAuthCode" class="form-control form-control-sm" [formControl]="changePasswordForm.controls['twoFactorAuthCode']">

                  <span class="help-block" *ngIf="!changePasswordForm.controls['twoFactorAuthCode'].valid">
                    <span *ngIf="changePasswordForm.controls['twoFactorAuthCode'].hasError('pattern')" class="invalid">
                      2FA Code has invalid format.
                    </span>
                  </span>

                </div>


                <div class="form-group">
                  <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-primary">Submit</button>
                </div>

              </fieldset>
            </form>




          </div>
        </div>
      </div>
    </div>
  </div>

</div>