@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-lg-6">
        <img src="~/images/lepr.svg" width="300px" alt="Visual Studio" class="img-responsive"/>
    </div>
    <div class="col-lg-6">
        <img src="~/images/mushroom.svg" width="300px" alt="Visual Studio" class="img-responsive"/>
    </div>

</div>

 
